body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
 https://prashanth-b-c.github.io/rxjs-todo/pbc
 https://prashanth-b-c.github.io/my-form/pra
 https://prashanth-b-c.github.io/Auth/pbc/
 https://prashanth-b-c.github.io/Redux-Todo/pbc/
*/
